:root{
    --color-primary-: #7B00FF ;
    --color-secondary-:#e6ceff ;
}




body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(224, 224, 224);
    font-family: 'Varela Round', sans-serif;
}

/*******************************************
*                  HEADER
*******************************************/


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: white;

    padding: 12px;
    margin: 12px;

    font-weight: bold;

    img {
        width: 50px;
        height: 50px;
    }


    .logo {
        position: absolute;
        left: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 50px 0;
        border-radius: 20px;
        padding: 8px;
        width: 80px;

        p{  
            color: var(--color-primary-);
            font-size: 20px;

            position: absolute;
            top: -15px;
            left: 0px;

            background-color: var(--color-secondary-);
            border-radius: 20px;
            padding: 20px;
            opacity: 0;
            cursor: pointer;
            transition-duration: 0.5s;
        }

        &:hover {
            p{
                opacity: 1;
            }
        }
    }

    .divisionPoint{
        p {
            font-weight: normal;
            opacity: 0.4;
            margin: 0;
            font-size: 60px;
            padding-bottom: 10px;
        }
    }

    .headbuttons {
        .buttondiv {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .button {
                display: flex;
                justify-content: center;
                align-items: center;

                margin: 0 15px;
                width: 100px;
                height: 80px;
                border-radius: 20px;

                text-decoration: none;

                transition-duration: 0.6s;

                .hiddenDescription {
                    opacity: 0;
                    position: absolute;
                    top: 50px;
                    background-color: white;
                    border-radius: 20px;
                    cursor: arrow;
                    color: var(--color-primary-);
                    transition-duration: 0.5s ;

                    p { 
                        font-size: 20px;
                        padding: 0 20px;
                    }
                }

                &:hover{
                    background-color: var(--color-secondary-);

                    .hiddenDescription {
                        opacity: 1;
                        top: 130px;
                    }
                }
            }
        }
    }
}




/***************************************
*               CONTENT
***************************************/

.content {
    border-radius: 20px;
    margin: 90px auto 20px auto;
    background-color: white;
    width: 80vw;
    height: 70vh;

    .container{
        padding: 30px;
    }

    //************** HOME *****************


    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--color-primary-);
            font-size: 40px;
            padding-bottom: 10px;
            border-bottom: 3px solid var(--color-primary-) ;
        }

        p {
            font-size: 20px;
            color: var(--color-primary-);
        }
    }


    //*************** PERFIL ***************

    .perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--color-primary-);
            font-size: 40px;
            padding-bottom: 10px;
            border-bottom: 3px solid var(--color-primary-) ;
        }

       .perfilFlex {
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;

           .profile{
               color: var(--color-primary-);
               padding-right: 30px;
               border-right: 5px solid rgba(0, 0, 0, 0.2);

            img{
                border-radius: 100%;
                border: 4px solid var(--color-primary-);
                width: 60%;
                height: 60%;
            }
           }


           .profileDescription {
               padding-left: 30px ;

               p {
                   color: var(--color-primary-);
                   font-size: 1.2rem;
               }
           }
       }
    }




    //*************** TIME *********************


    .time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--color-primary-);
            font-size: 40px;
            padding-bottom: 10px;
            border-bottom: 3px solid var(--color-primary-) ;
        }

        p {
            color: var(--color-primary-);
            font-size: 20px;
        }
    }




    //*************** BOOKMARKS *****************

    .bookmarks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--color-primary-);
            font-size: 40px;
            padding-bottom: 10px;
            border-bottom: 3px solid var(--color-primary-) ;
        }

        span {
            color: var(--color-primary-);
            font-size: 20px;
            margin-bottom: 30px;
        }

        .favlinks {
            display: flex;
            flex-direction: column;

            .linksbookmark {
                background-color: var(--color-secondary-);
                border-radius: 20px;
                text-align: center;
                padding: 5px;
                a {
                    padding: 5px;
                    margin-bottom: 10px;
                    text-decoration: none;
                    font-size: 20px;
                    color: var(--color-primary-);
                }
            }
        }
    }



    //************** CONTACT *******************

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--color-primary-);
            font-size: 40px;
            padding-bottom: 10px;
            border-bottom: 3px solid var(--color-primary-) ;
        }

        p {
            color: var(--color-primary-);
            font-size: 20px;
        }

        .contactLinks {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .links{
                border-radius: 100%;
                background-color: white;
                margin: 0 ;
                padding: 20px;
                transition-duration: 0.3s;

                &:hover{
                    background-color: var(--color-secondary-);
                }

                a{  
                    height: 80px;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 60px;
                        height: 60px;
                    }

                }
                
            }
        }
    }
}









@media (max-width: 850px) {
    * {
        margin: 0;
        padding: 0;
    }

    body{
        display: flex;
        flex-direction: column;
    }


    // HEADER



    .header {
        display: block;

        .logo{
            display:none;
        }

        .divisionPoint{
            display: none;
        }

        img {
            height: 30px;
            width: 30px;
        }

        .headbuttons {
            .buttondiv {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .hiddenDescription{
            display: none;
        }
    }

    //     CONTENT


    .content{
        display: block;
        position: relative;
        width: 95vw;
        height: 82vh;
        margin: 10px;

        h1 {
            padding-top: 10px;
            margin-bottom: 60px;
        }

        .container{
            padding: 0;
        }


        // PERFIL

    
        .perfil {

            h1 {
                padding-top: 10px;
                margin-bottom: 0;
            }
            .perfilFlex{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .profile{
                    padding: 20px 0;
                    border-right: none;
                    border-bottom: 5px solid rgba(0, 0, 0, 0.2);

                    img {
                        width: 40%;
                        height: 40%;
                    }
                }

                .profileDescription {
                    padding: 20px;
                }
            }
        }
    }
}